<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>Шашки Онлайн</title>
        <link rel="stylesheet" th:href="@{styles/basic.css}">
    </head>

    <body>
        <header>
            <a th:href="@{#}">
                <h1>Шашки онлайн</h1>
            </a>
        </header>

        <nav>
            <div>
                <a th:href="@{index}">Главная</a>
                <a th:href="@{rules}">Правила</a>
                <a th:href="@{game}" class="current-page-link">Играть</a>
            </div>
        </nav>

        <main>
            <h2>Играть</h2>

            <div class="game-content">
                <table class="board">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                            <th>e</th>
                            <th>f</th>
                            <th>g</th>
                            <th>h</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>8</th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>7</th>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>6</th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>5</th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>4</th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>2</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>1</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                            <th>e</th>
                            <th>f</th>
                            <th>g</th>
                            <th>h</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

                <article class="status-and-buttons">
                    <div class="buttons">
                        <button id="start">Начало</button>
                        <button id="example1">Пример 1</button>
                        <button class="bottom" id="cancel-turn">Отменить ход</button>
                        <button id="finish-turn">Завершить ход</button>
                    </div>
                    <h3 class="turn" id="status">Ходят белые</h3>
                </article>

                <div class="game-panel col">
                    <article class="game-history">
                        <h3>Ходы</h3>
                        <ol id="move-list">
                        </ol>

                    </article>
                    
                    <div id="move-list-input-panel" class="request-postiton col">
                        <textarea id="move-list-input"></textarea>
                        <button id="show-turns">Показать</button>
                        <div id="error-field">
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer>
            <section>
                <p>&copy Перевезенцев Владислав, 2021</p>
                <p><a th:href="@{mailto:glitchhop1256@mail.ru?subject=Шашки онлайн}">glitchhop1256@mail.ru</a></p>
            </section>
        </footer>

        <script defer th:src="@{scripts/game.js}"></script>
    </body>

</html>