<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Шашки Онлайн</title>
        <link rel="stylesheet" th:href="@{styles/basic.css}">
    </head>

    <body>
        <header>
            <a th:href="@{#}"><h1>Шашки онлайн</h1></a>
        </header>

        <nav>
            <div>
                <a th:href="@{index}" class="current-page-link">Главная</a>
                <a th:href="@{rules}">Правила</a>
                <a th:href="@{game}">Играть</a>
            </div>
        </nav>

        <main > 
            <h2>Добро пожаловать на Шашки Онлайн!</h2>
        </main>

        <footer>
            <section>
                <p>&copy Перевезенцев Владислав, 2021</p>
                <p><a th:href="@{mailto:glitchhop1256@mail.ru?subject=Шашки онлайн}">glitchhop1256@mail.ru</a></p>
            </section>
        </footer>
    </body>
</html>