/*
https://developer.mozilla.org/ru/docs/Web/CSS/Pseudo-classes

*/
:root {
    --white: #ffffff;
    --white-thistle: #fcfafd;
    --white-smoke: #f0f0f0;
    --light-light-blue: #e9ecf0;
    --light-blue: #99c5ff;
    --light-light-blue-but-gray: #d5d9dd;
    --gainsborough: #dcdcdc;
    --light-telegray: #d0d0d0;
    --smoke: #888888;
    --curb: #555555;
    --midnight-blue: #112a46;
    --black: #000000;
    --yellow: #cfb53b;
    --green: #48c417;
    --red: #c53c17;
}

body{
    background-image: url(../img/background1.jpg);
    background-color: rgb(188, 206, 233);
    background-blend-mode: screen;
    background-size: cover;
    margin: 0;
    padding: 0 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 0 -1rem 2rem;*/
    box-shadow: 0 0 0 var(--light-telegray);
    backdrop-filter: blur(40px);
}

header a {
    text-decoration: none;
}

header h1 {
    margin: 1rem 0;
    font-size: 2rem;
    white-space: nowrap;
    color: rgb(54, 87, 236);
}

nav {
    position: fixed;
    width: 15%;
    min-width: 15rem;
    height: calc(100vh - 10rem);
    font-weight: 900;
    padding: 1rem 0;
    backdrop-filter: blur(40px);
}

nav a {
    display: block;
    margin: 0;
    padding: 1.6rem 2rem;
    text-decoration: none;
}

nav a:hover {
    filter: drop-shadow(0 0 .6rem rgb(53, 53, 53));
    box-shadow: 0 0 .1rem rgb(100, 100, 100);
    transition: 0.2s all;
}

nav a.current-page-link {
    box-shadow: inset .7rem 0 1rem -.8rem rgb(0, 0, 0);
    padding-left: 1.7em;
}

main {
    min-height: 75vh;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 2rem;
    /*background: rgb(149, 166, 241);*/
    backdrop-filter: blur(10px);
}

main, footer {
    max-width: 85%;
    margin-left: calc(15% + 2rem);
    margin-right: .0rem;
}

.mini-table {
    border-collapse: collapse;
    border: none;
    margin-left: 5rem;
}

.mini-table th, .mini-table td{
    border: 0.1rem solid #000000;
    background-color: rgb(96, 123, 245);
}

.board {
    border-collapse: collapse;
    border: none;
    margin-left: 5rem;
}

.board th, .board td {
    height: calc(min(7vh, 7vw));
    width: calc(min(7vh, 7vw));
    padding: 0;
    background-color: rgb(96, 123, 245);
    text-align: center;
    border: none;
}

.board tr:nth-child(1) th:nth-child(1) {
    border-radius: 70px 0px 0px 0px;
}

.board tr:nth-child(10) th:nth-child(1) {
    border-radius: 0px 0px 0px 70px;
}

.board tr:nth-child(1) th:nth-child(10) {
    border-radius: 0px 70px 0px 0px;
}

.board tr:nth-child(10) th:nth-child(10) {
    border-radius: 0px 0px 70px 0px;
}

.board tr:nth-child(even) td:nth-child(odd),
.board tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(96, 123, 245);
}

.board tr:nth-child(even) td:nth-child(even),
.board tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--white-smoke);
}

.board img {
    height: 75%;
    width: 75%;
    vertical-align: middle;
}

.board .prompt {
    background: var(--yellow) !important;
}

.board .can-be-filled {
    background: var(--green) !important;
}

.board .must-be-filled {
    background: var(--red) !important;
}

.board .killed {
    background: var(--light-blue) !important;
}

.game-content {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-left: -5rem;
}

.status-and-buttons {
    margin-left: 5rem;
}

.status-and-buttons .buttons{
    margin-top: 5rem;
    display: flex;
    flex-flow: column;
}

.status-and-buttons .buttons .bottom {
    margin-top: 2.6rem;
}

button {
    font-size: 1rem;
    padding: .9rem;
    background: rgb(96, 123, 245);
    border: .1rem solid var(--light-telegray);
    border-radius: 10px 10px 10px 10px;
}

button:active {
    color: unset;
    background: rgb(45, 74, 206);
}

.hidden {
    visibility: hidden;
}

.turn{
    text-align: center;
}

.game-history {
    height: 35vh;
    margin-left: 5rem;
}

.game-history h3 {
    margin-left: 2.5rem;
}

#move-list {
    overflow-y: auto;
    height: calc(100% - 5rem);
}

.col {
    display: flex;
    flex-direction: column;
}

.game-panel{
    display: flex;
    flex-flow: column;
}

.right-sidebar {
    margin-left: 20px;
}

.request-postiton{
    margin-left: 7.5rem;
}

#turns-table {
    font-size: 14px;
    color: black;
    font-weight: normal;
}

#current-turn {
    margin: 10px 0;
    font-size: 14px;
    color: black;
    font-weight: normal;
}

#text_turns-error {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.button-show-game{
    margin-left: 7.5rem;
}

footer {
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(40px);
    margin-bottom: 2rem;
    padding: 2rem;
}

footer section {
    margin: 0 5rem;
}

footer p, footer a {
    color: var(--curb);
}

footer p:last-child {
    margin-bottom: 0;
}